// Variables

// Colors
$main-text-color: #FFFFFF;
$secondary-text-color: #15EAD5;
$main-background-color: #020202; 


// Font-size
$main-size: clamp(2rem, 5vw, 4rem);
$secondary-size: clamp(1.2rem, 3vw, 2rem);
$title-size: clamp(1.5rem, 5vw, 3rem);
$subtitle-size: clamp(1rem, 3vw, 1.5rem);
$lower-size: clamp(0.8rem, 2vw, 1rem);
$logo-size: 1.5rem;
$regular-size: 1rem;
$header-size: 3.5rem;