@import './assets/style/fonts.scss';
@import './assets/style/variables.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: $main-background-color;
  color: $main-text-color;
}

a {
  text-decoration: none;
}