@import './assets/style/fonts.scss';
@import './assets/style/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $main-background-color;
  color: $main-text-color;
}

a {
  text-decoration: none;
}

.highlight {
  color: $secondary-text-color
}

.bar{
  height: 1px;
  margin: 30px auto 0;
  width: 60%;
  background-color: $secondary-text-color;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb{
  scrollbar-width: 5px;
  background: $secondary-text-color;
  border-radius: 1px;
}
*::-webkit-scrollbar-track{
  background: rgb(8, 8, 8);
}
